* {
        transition: 
        background-color 0.4s ease,
        color 0.4s ease,
        border-color 0.4s ease,
        background 0.4s ease;
}

*, *::before, *::after {
    transition: all 0.4s ease;
}


html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text-primary);
    padding-top: var(--header-height, 100px);

    transition: background-color 0.4s ease, color 0.4s ease;
}

html, body {
    overflow-x: hidden;
}

.container {
    max-width: 1200px;            
    width: 100%;
}

.container .under-line {
    height: 2px;
    width: 100%;
    background: var(--gradient-90deg-emphasis);
    border-radius: 2px;
    margin-top: 48px;
    margin-bottom: 48px;
}

