.education {
    margin-top: 72px;
    margin-bottom: 72px;
}


.education-item {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    background: var(--gradient-145deg);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 16px;
    transition: transform 0.35s ease-in-out, box-shadow 0.35s ease-in-out, background 0.6s ease-in-out;
    will-change: transform, box-shadow, background;
}

.education-item:hover {
    transform: translateY(-4px) !important;
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.5) !important;
    background: var(  --gradient-145deg-hover);
}

.icon-circle {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--color-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-accent);
    font-size: 18px;
    flex-shrink: 0;
}

.education-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.education-title {
    font-size: 17px;
    font-weight: 600;
    color: var(--color-text-primary);
    margin: 0 0 8px 0;
    position: relative;
    padding-bottom: 5px;
}

.education-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10%;
    height: 2px;
    background: var(--gradient-90deg-emphasis);
    border-radius: 2px;
    transition: width 0.35s ease;
}

.education-item:hover .academic-title::after {
    width: 20%;
}

.Institution {
    font-size: 15px;
    font-weight: 500;
    color:  var(--color-text-secondary);
}

.Period {
    font-size: 14px;
    color:  var(--color-text-secondary);
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 2px;
    transition: all 0.4s ease;
}

.education-item:hover .Period {
    color: var(--color-accent);
}

.Period i {
    color: var(--color-accent);
}

.description {
    color:  var(--color-text-secondary);
    font-size: 15px;
    line-height: 1.6;
    margin-top: 6px;
}
